.vscode/**
.vscode-test/**
docs/**
ROADMAP.zh-CN.md
**/ROADMAP.zh-CN.md
src/**
out/**
!out/extension.js
!out/server.js
out/test/**
.gitignore
.yarnrc
package-lock.json
node_modules/**
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
