.vscode/**
.vscode-test/**
docs/**
ROADMAP.zh-CN.md
**/ROADMAP.zh-CN.md
src/**
out/test/**
.gitignore
.yarnrc
package-lock.json
**/tsconfig.json
**/eslint.config.mjs
**/*.map
**/*.ts
**/.vscode-test.*
